<%- include('../../partials/header.ejs')%>
<body>
    <%- include('../../partials/navbar.ejs')%>
    <div class="container">
        <hr>
        <h2>Categorias</h2>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead><!--MostrarTituloColuna -->
            <tbody>
                <tr>
                    <th>1</th>
                    <th>Dev Web</th>
                    <th>Dev-web</th>
                    <th>Lindo</th>
                </tr>
            </tbody><!--MostrarDados -->
        </table>

        
    </div>
</body>
<%- include('../../partials/footer.ejs')%>